@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #563b91 ;
  --color-secondary: #e6e0ff;
  --color-accent: #ff4081;
}

* {
  font-family: "Raleway", sans-serif;
}
